body {
  background-image: url(webb.gif);
  background-size: cover;
}
h1 {
  color: cornsilk;
  text-align: center;
  font-family: "Gill Sans";
}
h2 {
  color: cornsilk;
  text-align: center;
  font-family: "Gill Sans";
}
h1:hover {
  color: yellow;
  text-shadow: 0px 0px 50px white;
  cursor: url("asset/starcursor.png"), auto;
  transform: rotate(180deg);
}
h2:hover {
  color: yellow;
  text-shadow: 0px 0px 50px white;
  cursor: url("starcursor.png"), auto;
  transform: rotate(180deg);
}

p {
  text-align: center;
  color: cornsilk;
}
a {
  color: cornsilk;
}
p:hover {
  text-shadow: 0px 0px 50px white;
}
