body {
  background-image: url(asset/other-static.gif);
  background-size: cover;
  text-align:center;
}
h1 {
  color: aliceblue;
}

img {
  height: 500px;
  width: 500px;
}
img:hover{
  filter: invert();
}
p{
  color: aliceblue;
}
a {
  color: rgb(255, 0, 0);
  font-family:sans-serif
  font-size: medium;
}

.hiddenHeader1 {
  opacity: 0;
}

.hiddenHeader1:hover
{
  opacity: 1;
}

.hiddenHeader2 {
  opacity: 0;
}

.hiddenHeader2:hover
{
  opacity: 1;
}

.farmersOnly {
position: fixed;
top: 300px;
right: 1200px;
width: 100px;
height: auto;

}
.bg-bad{
  background-image: url(asset/badending.png);
  background-size: cover;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  text-emphasis-color:brown;

}
.bg-future{
  background-image: url(asset/future-ending.png);
  background-size: cover;
  text-align:center;
  font-style: italic;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 80px;



}
.bg-love{
  background-image: url(asset/love-ending.png);
  background-size: cover;
  text-align: center;
  font-style: italic;
  font-family:cursive;
  font-size: 80px;
}
.bg-black{
  background-image: url(asset/black.png);
}